body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #34495e;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 8px 0;
}

table th,
table td {
    padding: 4px;
    text-align: left;
    border: 1px solid #ccc;
}

table thead {
    background-color: #34495e;
    color: #fff;
}

table tbody tr:nth-child(even) {
    background-color: #f8f8f8;
}

@media screen and (max-width: 768px) {
    table {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    table th,
    table td {
        padding: 4px;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 24px;
    }

    table th,
    table td {
        padding: 4px;
    }
}

.play-btn,
a.download-btn {
    display: flex;
    width: 40px;
    height: 40px;
    margin: 4px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s;
    cursor: pointer;
    border-color: transparent;
    justify-content: center;
    align-items: center;
}

.play-btn{
    font-size: 20px;
}

.play-btn,
a.download-btn {
    background-color: #2ecc71;
}

.play-btn:hover,
a.download-btn:hover {
    background-color: #2ecc7082;
}

.floating-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #3498db;
    color: white;
    font-size: 32px;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    z-index: 1000; 
}

.floating-btn:hover {
    background-color: #2980b9;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}